
#new-contact-component{
    display: flex;
    justify-content: center;
}

#new-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 4px #073763;
  margin-top: 5%;
  min-width: 350px;
  max-width: 70%;
}

#new-contact h1 {
  display: flex;
  justify-content: center;
  padding: 25px 25px 25px 25px;
  font-size: 2.3rem;
  text-decoration: none;

}

.name, .demos, .about, .address, .address2{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.form-control {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 4px #073763;
  background-color: white;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  cursor: text;
  padding-left: 5px;
  width: 300px;
}

.form-control:focus{
  background: #07376335;
}


form button {
  background-color: #073763;
  color: white;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 18px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  background-color: gray;
}

#new-contact select{
  border-radius: 5px;
  box-shadow: 0 0 4px #073763;
}

h4 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  color: #31313183;
}