
  .nav {
    background-color: #073763;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 135px;
  }
  
  .logo {
    background-color: #073763;
    display: flex;
    max-width: 50%;
    flex-grow: 1;
  }

  .navLinks {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: #073763;
    padding-right: 20px;
  }

  .link {
    text-decoration: none;
    color: white;
    background-color: #073763;
    font-size: 1.4rem;
    padding: 5px;
    transition: .2s;
 }
  
  .link:hover {
    color:rgb(199, 200, 233);
}

  .link:active {
    color: white;
  }